$so-background-color: #222222 !default;
$so-foreground-color: #888888 !default;
$so-hightlight-color: #EEEEEE !default;
$so-layer-menu-width: 200px !default;
$so-color-menu-height: 200px !default;

.SimpleOekaki {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: $so-background-color;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
	user-select: none;

	.color-select{
		border: 3px solid $so-hightlight-color;
		height: 32px;
		border-radius: 10px;
		box-sizing: border-box;
	}

	.optionsholder{
		display: flex;
		flex-direction: column;
		.optionsrow {
			display: flex;
			flex-direction: row;
			padding: 5px 10px;
			height: 40px;
			align-items: center;
			&.reverse {
				flex-direction:row-reverse;
			}
			.option {
				margin:  2px;
				color: $so-hightlight-color;
				&.grow {
					flex-grow : 1;
				}
				&.label {
					font-size: 26px;
					font-family: 'Roboto', sans-serif;
				}
			}
		}
	}
	.canvasholder {
		border-top: 4px dashed $so-background-color;
		padding: 50px;
		background-color: $so-foreground-color;
		display: flex;
		align-items: center;
		justify-content: center;
		canvas {
			border: 4px dashed $so-background-color;
		}
	}
	.material-icons {
		font-size: 32px;
		cursor: pointer;
		border-radius: 20px;
		box-sizing: border-box;
	}
	.invisible-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		&.hidden {
			display: none;
		}
	}
	.layer-menu {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: $so-layer-menu-width;
		transition: all 1s;
		background: $so-foreground-color;
		border-left: 4px dashed $so-background-color;
		box-sizing:border-box;

		&.hidden {
			margin-right: -$so-layer-menu-width;
		}
		.layer-list {
			display: flex;
			flex-direction: column;
		}
		.layer {
			margin: 10px;
			border: 4px dashed $so-foreground-color;
			border-radius: 20px;
			width: $so-layer-menu-width - 20px;
			box-sizing: border-box;
			background: $so-background-color;
			&.selected {
				background: $so-foreground-color;
				border-color: $so-background-color;
			}
		}
	}

	.color-menu {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: $so-color-menu-height;
		transition: all 1s;
		background: blue;
		&.hidden {
			margin-bottom: -$so-color-menu-height;
		}
		.color-wheel-holder{
			display: flex;
			flex-grow: 1;
			flex-direction: row;
			justify-content: center;
		}
	}

	// For the sliders
	$thumb-color: $so-background-color;
	$thumb-radius: 0px;
	$thumb-height: 20px;
	$thumb-width: 10px;
	$thumb-shadow-size: 0px;
	$thumb-shadow-blur: 0px;
	$thumb-border-width: 2px;
	$thumb-border-color: #ffffff;

	$track-color: #FFFFFF;
	$track-width: 100px;
	$track-height: 14px;
	$track-shadow-size: 0px;
	$track-shadow-blur: 0px;
	$track-border-width: 6px;
	$track-border-color: $so-background-color;
	$track-radius: 0px;
	$contrast: 5%;
	@import '../../node_modules/input-range-scss/_inputrange';
}